@charset "UTF-8";


body {
    background-image: linear-gradient(#49a09d, #5f2c82);
    height: 100vh;
    margin: 0;
}

#cor {
    background-color: white;
    background-image: url(../imagens/metal.jpg);
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: right; /* Posiciona a imagem à direita */
    height: 35vh; /* Altura da viewport */
    width: 40vw;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
}
